.bg-fixed {
    background-size: cover !important;
    overflow: hidden;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .bg-fixed:before {
    background-image: inherit !important;
    background-repeat: inherit !important;
    background-size: cover;
    background-position: inherit;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1 !important;
    pointer-events: none;
  }

  .parallax-container {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/kiev-ingenieria-ecommerc-800f3.appspot.com/o/productos%2FA200%2FA200-foto-2.webp?alt=media&token=df2e082e-647f-4811-8e9c-0f1527acb1cd');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  